Marcas/2evaluacion/DTD/Tella-Jose_Antonio-DTD/practica 6/practica6.dtd

<!ELEMENT matricula (personal, pago)>
<!ELEMENT personal (dni, nombre, titulacion, curso_academico, domicilios)>
<!ELEMENT domicilios (domicilio)+>
<!ELEMENT domicilio (nombre)>
<!ATTLIST domicilio tipo (familiar | habitual) #REQUIRED>
<!ELEMENT pago (tipo_matricula)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT curso_academico (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT tipo_matricula (#PCDATA)>