Marcas/2evaluacion/xmlSchemaBasicos/Practica 1/practica1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="nota">
    
    <xs:complexType>
      
      <xs:sequence>
        <xs:element name="para" type="xs:string"/>
        <xs:element name="de" type="xs:string"/>
        <xs:element name="titulo" type="xs:string"/>
        <xs:element name="contenido" type="xs:string"/>
      </xs:sequence>
      
    </xs:complexType>
    
  </xs:element>
  
</xs:schema>